{% extends 'core/layout/master.html' %}
{% load static %}

{% block content %}
  <section class="content-header">
        <h1>
          Program
        </h1>
        <ol class="breadcrumb">
          <li><a href="{% url 'core:dashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a href="{% url 'core:list_users' %}">Program</a></li>
          <li class="active">List</li>
        </ol>
    </section>

    <section class="content">
      <div class="box">
              {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible">
                       <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                      </div>
                    {% endfor %}
                {% endif %}
              <div class="box-header with-border">
          <div class="box-body">
            <table class="table table-bordered">
              <tbody>
                <th>S.N</th>
                <th>Name</th>
                <th>Degree</th>
                <th>Actions</th>
                {% for program in programs %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ program.name }}</td>
                  <td>{{ program.degree }}</td>
                  <td>
                    <a href="{% url 'student:update_program' program.slug %}" class="btn btn-warning">
                        <i class="fa fa-edit"></i> Edit</a>
                  </td>
                  <td>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </section>

{% endblock content %}
