{% extends 'core/layout/master.html' %}
{% load static %}

{% block styles %}
  <style>
    .fa-ul li{
      margin-bottom: 5px;
    }
    .box-title{
      margin-right: 10px !important;
    }
  </style>
{% endblock%}

{% block content %}
  <section class="content-header">
        <h1>
          Report
        </h1>
        <ol class="breadcrumb">
          <li><a href="{% url 'core:dashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a href="{% url 'core:dashboard' %}">Report</a></li>
        </ol>
    </section>

    <section class="content">
      <div class="box">
      <div class="box-header with-border">
          <div class="box-body">
            <form method="GET" autocomplete="off">
				      <div class="row" style="padding: 10px;">
				        <div class="col-xs-3">
				          	<label>Student ID</label>	
				          	<input type="text" value="{{request.GET.student_id}}" name="student_id" class="form-control" placeholder="Student ID">
				        </div>
				        <div class="col-xs-3">
				          	<label>Full Name</label>
				          	<input type="text" name="full_name" value="{{request.GET.full_name}}" class="form-control" placeholder="Full Name">
				        </div>
				        <div class="col-xs-3">
				        	<label>EUID</label>
				          	<input type="text" value="{{request.GET.euid}}" name="euid" class="form-control" placeholder="EUID">
				        </div>
				        <div class="col-xs-3">
				        	<label>Email</label>
				          	<input type="text" value="{{request.GET.email}}" name="email" class="form-control" placeholder="Email">
				        </div> 
                    </div>
				      <div class="row" style="padding: 10px;">
				        <div class="col-xs-3">
				          	<label>Phone Number</label>	
				          	<input type="text" value="{{request.GET.phone_number}}" name="phone_number" class="form-control" placeholder="Phone Number">
				        </div>
				        <div class="col-xs-3">
				          	<label>Citizenship</label>
				          	<input type="text" name="citizenship" value="{{request.GET.citizenship}}" class="form-control" placeholder="Citizenship">
				        </div>
				        <div class="col-xs-3">
				        	<label>Race</label>
				          	<input type="text" value="{{request.GET.race}}" name="race" class="form-control" placeholder="Race">
				        </div>
				        <div class="col-xs-3">
				        	<label>Gender</label>
				          	<input type="text" value="{{request.GET.gender}}" name="gender" class="form-control" placeholder="Gender">
				        </div> 
                    </div>
                    <div class="row" style="padding: 10px;">
                            <div class="col-xs-4">
                                <label>Program</label>
                                <select name="program" class="form-control">
                                    <option selected disabled >Select Program</option>
                                    {% for program in programs%}
                                        <option value="{{program.pk}}">{{ program }}</option>
                                    {% endfor %}
                                </select>	
                            </div>
                            <div class="col-xs-4">
                                <label>Starting Semester</label>
                                <input type="text" name="starting_semester" value="{{request.GET.full_name}}" class="form-control" placeholder="Starting Semester">
                            </div>
                            <div class="col-xs-4">
                                <label>Advisor</label>
                                <input type="text" value="{{request.GET.advisor}}" name="advisor" class="form-control" placeholder="Advisor">
                            </div>
                    </div>

                    <div class="row" style="padding: 10px;">
                            <div class="col-xs-2">
                                <label>TOFEL Score</label>	
                                <input type="text" value="{{request.GET.tofel_score}}" name="tofel_score" class="form-control" placeholder="TOFEL Score">
                            </div>
                            <div class="col-xs-2">
                                <label>SAT Score</label>
                                <input type="text" name="sat_score" value="{{request.GET.sat_score}}" class="form-control" placeholder="SAT Score">
                            </div>
                            <div class="col-xs-2">
                                <label>GREQ Score</label>
                                <input type="text" value="{{request.GET.greq_score}}" name="greq_score" class="form-control" placeholder="GREQ Score">
                            </div>
                            <div class="col-xs-2">
                                <label>GREA Score</label>
                                <input type="text" value="{{request.GET.grea_score}}" name="grea_score" class="form-control" placeholder="GREA Score">
                            </div>
                            <div class="col-xs-2">
                                <label>GREV Score</label>
                                <input type="text" value="{{request.GET.grev_score}}" name="grev_score" class="form-control" placeholder="GREV Score">
                            </div>
                            <div class="col-xs-2">
                                <label>Total GRE Score</label>
                                <input type="text" value="{{request.GET.gre_total_score}}" name="gre_total_score" class="form-control" placeholder="GRE Total Score">
                            </div>
                    </div>



				        <div class="col-xs-2 pull-right" style="margin: 10px;">
				        	<button class="btn btn-block btn-primary btn-flat">Search</button>
				        </div>				        
				        <div class="col-xs-2" style="margin-top: 10px;">
				        	<a class="btn btn-flat btn-block btn-warning" href="{% url 'student:report' %}">
				        	Reset Search</a>
				        </div>			    	
            </form>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="box-header with-border">
          <div class="box-body">
                  {% for student in students %}
          <div class="col-md-6">
            <div class="box box-solid">
              <div class="box-header with-border">

                <h3 class="box-title">
                    {{ student.first_name }}
                      {% if student.middle_name %}
                        {{ student.middle_name }}
                      {% endif %}
                    {{ student.last_name }}
                </h3>
                <span class="badge bg-blue">
                  {% if student.race == 'AS' %}
                    Asian
                  {% elif student.race == 'NA' %}
                    Native American
                  {% elif student.race == 'PI' %}
                    Pacific Islander
                  {% elif student.race == 'NH' %}
                    Native Hawaiian
                  {% elif student.race == 'AA' %}
                    African American
                  {% else %}
                     N/A
                  {% endif %}
                </span>
                <span class="badge bg-green">
                  {% if student.gender == 'M' %}
                    Male
                  {% elif student.gender == 'F' %}
                    Female
                  {% elif student.gender == 'O' %}
                    Other
                  {% else %}
                    N/A
                  {% endif %}
                </span>
                <span class="badge bg-green">
                  {{ student.program |default_if_none:"N/A"}}
                </span>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
              <div class="row">
                <div class="col-md-4">
                {% if student.image %}
                      <img src="{{ student.image.url }}" style="width: 140px; height: 140px;">
                {% else %}
                  <img src="/media/unt.svg" style="width: 140px; height: 140px;">
                {% endif %}
                </div>
                <div class="col-md-6">
                    <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small">
                          <span class="fa-li"><i class="fa fa-lg fa-address-card"></i></span> 
                          Student ID: {{ student.student_id }}
                        </li>
                        <li class="small">
                          <span class="fa-li"><i class="fa fa-lg fa-id-badge"></i></span> 
                          EUID: {{ student.euid|default_if_none:""  }}
                        </li>
                        <li class="small">
                          <span class="fa-li"><i class="fa fa-lg fa-phone"></i></span>
                          Phone #: {{ student.phone_number|default_if_none:""  }}
                        </li>
                        <li class="small">
                          <span class="fa-li"><i class="fa fa-lg fa-envelope"></i></span>
                           Email:
                          {% if student.email %}
                          <a href="mailto:{{student.email}}" target="_top">
                          Send Mail</a>
                          {% else %}
                          {% endif %}
                        </li>
                        <li class="small">
                          <span class="fa-li"><i class="fa fa-lg fa-calendar"></i></span>
                          Starting Semester: {{ student.starting_semester|default_if_none:""  }}
                        </li>
                        <li class="small">
                          <span class="fa-li"><i class="fa fa-lg fa-users"></i></span>
                          Advisor: {{ student.advisor | default_if_none:"" }}
                        </li>
                        <li class="small">
                          <span class="fa-li"><i class="fa fa-lg fa-building"></i></span> 
                          Address: 
                          {% if student.address_line %}
                            {{ student.address_line }},
                          {% endif %}
                          {% if student.city %}
                            {{ student.city }},
                          {% endif %}
                          {% if student.zip_code %}
                            {{ student.zip_code }}
                          {% endif %}
                        </li>
                    </ul>
                </div>
              </div>
              <div class="row">
              <div style="padding-left: 15px; padding-top: 10px;">
                  <a href="{% url 'student:student_profile' student.pk %}" class="btn btn-sm btn-success">
                  <i class="fa fa-drivers-license"> Profile</i>
                  </a>
              </div>
              </div>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
        {% endfor %}
          </div>
        </div>
      </div>
      

    </section>

{% endblock content %}
