{% load static %}
<footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2020 <a target="_blank" href="#">UNT</a>.</strong> All rights
    reserved.
</footer>
<script src='{% static "core/assets/jquery/jquery.min.js" %}'></script>
<script src='{% static "core/assets/bootstrap/js/bootstrap.min.js" %}'></script>
<script src='{% static "core/assets/fastclick/fastclick.js" %}'></script>
<script src='{% static "core/assets/js/adminlte.min.js" %}'></script>
<script src='{% static "core/assets/jquery-slimscroll/jquery.slimscroll.min.js" %}'></script>
