{% extends 'core/layout/master.html' %} {% load add_class %} {% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'core/assets/select2/css/select2.min.css' %}" />
<style>
  label {
    margin: 5px 0px;
    display: block;
  }
</style>
{% endblock %} {% block content %}
<section class="content-header">
  <h1>
    Add New Note
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="{% url 'core:dashboard' %}"><i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li><a href="{% url 'core:list_users' %}">Students</a></li>
    <li>
      <a href="#">
        {{ student.first_name }} {% if student.middle_name %} {{
        student.middle_name }} {% endif %} {{ student.last_name }}
      </a>
    </li>
    <li><a href="#">Notes</a></li>
    <li class="active">Add</li>
  </ol>
</section>

<section class="content">
  <div class="box box-primary">
    <div class="box-header with-border">
      {% if messages %} {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ message }}
      </div>
      {% endfor %} {% endif %}
    </div>
    <form role="form" method="POST" enctype="multipart/form-data" autocomplete="off">
      {% csrf_token %}
      <div class="box-body">
        <label>Note</label>
        {{ form.note | add_class:"form-control" }} {{ form.note.errors }}
      </div>
      <div class="box-footer">
        <a href="{% url 'core:dashboard' %}" style="margin-right: 5px;" value="Next"
          class="btn btn-danger pull-right btn-flat">Exit</a>
        <input type="submit" name="next" style="margin-right: 5px;" value="Save"
          class="btn btn-success pull-right btn-flat">
        <input type="submit" name="next" style="margin-right: 5px;" value="Save & Exit"
          class="btn btn-success pull-right btn-flat">
      </div>
    </form>
  </div>
</section>

{% endblock content %} {% block scripts %}
<script src="{% static 'core/assets/select2/js/select2.min.js' %}"></script>
<script></script>
{% endblock %}